*{
    border:0;
    margin:0;
    padding:0;
}

html, body{
    overflow: hidden;
}

#bg-video{
    position: fixed;
    left: 0;
    top:0;
    object-fit: cover;
    width: 100%;
    height:100%;
    z-index: -1; 
}

#bg-cell{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height:627px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("pacote-d013/imagens/frame-iphone.png");
}

#tela{
    width:268.5px;
    height:471.3px;
    position:relative;
    top:80px;
    left:20px;
    background-color: rgba(137, 43, 226, 0.616);
    border-radius:3px;
}


iframe{
    background-color: rgba(255, 255, 255, 0.342);
    height: 100%;
    width: 100%;
}

.site >img{
    width: 50px;
    height: auto;
    border-radius:50%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow:2px 2px 3px rgb(56, 56, 56);
}
 .site img:hover{
    border:2px solid rgba(255, 255, 255, 0.644);
    transform: translate(-2px, -2px) scale(1.2);
    box-shadow: 3px 3px 5px rgb(56, 56, 56);
    transition: transform .5s;
    
    
 }
#fora{
    text-align: right;
    width: 100%;
}

#p-rodape{
    color:white;
    background-color: rgb(22, 22, 22);
    position: absolute;
    height: 30px;
    width: 100%;
    top: 92.3%;
    text-align: center;
    padding:20px;
    font-size:clamp(.8em, 2vw, 3em)
}
